In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Jupyter 
%matplotlib inline
plt.rcParams['figure.figsize']= (10,6)

df=pd.read_csv("C:\\Users\\omkar\\Downloads\\Movies_Analysis.csv")
df.head()

,MovieID,Title,Genre,ReleaseYear,ReleaseDate,Country,BudgetUSD,US_BoxOfficeUSD,Global_BoxOfficeUSD,Opening_Day_SalesUSD,One_Week_SalesUSD,IMDbRating,RottenTomatoesScore,NumVotesIMDb,NumVotesRT,Director,LeadActor
0,1,Might toward capital,Comedy,2003,28-09-2003,China,6577427.79,6613685.82,15472035.66,1778530.85,3034053.32,6.2,58,7865,10596,Kristina Moore,Brian Mccormick
1,2,He however experience,Comedy,1988,14-02-1988,USA,1883810.10,1930949.15,3637731.12,247115.74,831828.84,5.2,44,1708,220,Benjamin Hudson,Ashley Pena
2,3,Star responsibility politics,Comedy,1971,02-11-1971,USA,2468079.29,4186694.69,7165111.24,878453.95,2171405.93,5.5,55,4678,7805,Kayla Young,Alexander Haley
3,4,Exactly live,Comedy,1998,06-08-1998,USA,1447311.46,2023683.92,4373820.26,570657.72,898886.01,7.3,87,2467,1751,Michael Ross,Patrick Barnett
4,5,Focus improve especially,Documentary,2021,17-12-2021,India,900915.86,2129629.10,3113017.38,361189.37,861775.91,6.1,67,5555,697,Faith Franklin,Duane Fletcher DDS

# 1. Basic Exploration

In [14]:
# shape, columns, dtypes, basic info
print("Shape:", df.shape)
print("\nColumns:\n", df.columns.tolist())
df.info()

Shape: (999999, 17)

Columns:
 ['MovieID', 'Title', 'Genre', 'ReleaseYear', 'ReleaseDate', 'Country', 'BudgetUSD', 'US_BoxOfficeUSD', 'Global_BoxOfficeUSD', 'Opening_Day_SalesUSD', 'One_Week_SalesUSD', 'IMDbRating', 'RottenTomatoesScore', 'NumVotesIMDb', 'NumVotesRT', 'Director', 'LeadActor']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   MovieID               999999 non-null  int64
 1   Title                 999999 non-null  object
 2   Genre                 999999 non-null  object
 3   ReleaseYear           999999 non-null  int64
 4   ReleaseDate           999999 non-null  object
 5   Country               999999 non-null  object
 6   BudgetUSD             999999 non-null  float64
 7   US_BoxOfficeUSD       999999 non-null  float64
 8   Global_BoxOfficeUSD   999999 non-null  float64
 9   Opening_Day_SalesUSD  999999 non-null  float64
 10  One_Week_SalesUSD     999999 non-null  float64
 11  IMDbRating            999999 non-null  float64
 12  RottenTomatoesScore   999999 non-null  int64
 13  NumVotesIMDb          999999 non-null  int64
 14  NumVotesRT            999999 non-null  int64
 15  Director              999999 non-null  object
 16  LeadActor             999999 non-null  object
dtypes: float64(6), int64(5), object(6)
memory usage: 129.7+ MB

In [15]:
# unique counts and earliest/latest year 
print("\nUnique movies:", df['title'].nunique() if 'title' in df else "No title column")
for col in ['genre','director','lead_actor','country','release_year']:
    if col in df.columns:
        print(f"{col} unique:", df[col].nunique())
if 'release_year' in df.columns:
    print("Earliest:", df['release_year'].min(), "Latest:", df['release_year'].max())

Unique movies: No title column

# 1.1 Missing values And summary statistics

In [16]:
# Missing Values
missing = df.isnull().sum().sort_values(ascending=False)
missing[missing>0]

Series([], dtype: int64)

In [18]:
# Shape (rows Ã— columns)
print("Shape:", df.shape)

# Column names
print("\nColumns in dataset:")
print(df.columns.tolist())

# Data types
print("\nData Types:")
print(df.dtypes)

# Basic info
print("\nInfo:")
df.info()

Shape: (999999, 17)

Columns in dataset:
['MovieID', 'Title', 'Genre', 'ReleaseYear', 'ReleaseDate', 'Country', 'BudgetUSD', 'US_BoxOfficeUSD', 'Global_BoxOfficeUSD', 'Opening_Day_SalesUSD', 'One_Week_SalesUSD', 'IMDbRating', 'RottenTomatoesScore', 'NumVotesIMDb', 'NumVotesRT', 'Director', 'LeadActor']

Data Types:
MovieID                   int64
Title                    object
Genre                    object
ReleaseYear               int64
ReleaseDate              object
Country                  object
BudgetUSD               float64
US_BoxOfficeUSD         float64
Global_BoxOfficeUSD     float64
Opening_Day_SalesUSD    float64
One_Week_SalesUSD       float64
IMDbRating              float64
RottenTomatoesScore       int64
NumVotesIMDb              int64
NumVotesRT                int64
Director                 object
LeadActor                object
dtype: object

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   MovieID               999999 non-null  int64
 1   Title                 999999 non-null  object
 2   Genre                 999999 non-null  object
 3   ReleaseYear           999999 non-null  int64
 4   ReleaseDate           999999 non-null  object
 5   Country               999999 non-null  object
 6   BudgetUSD             999999 non-null  float64
 7   US_BoxOfficeUSD       999999 non-null  float64
 8   Global_BoxOfficeUSD   999999 non-null  float64
 9   Opening_Day_SalesUSD  999999 non-null  float64
 10  One_Week_SalesUSD     999999 non-null  float64
 11  IMDbRating            999999 non-null  float64
 12  RottenTomatoesScore   999999 non-null  int64
 13  NumVotesIMDb          999999 non-null  int64
 14  NumVotesRT            999999 non-null  int64
 15  Director              999999 non-null  object
 16  LeadActor             999999 non-null  object
dtypes: float64(6), int64(5), object(6)
memory usage: 129.7+ MB

In [19]:
# summary stats for numeric cols
df.describe().T

,count,mean,std,min,25%,50%,75%,max
MovieID,999999.0,5.000000e+05,2.886750e+05,1.00,250000.50,500000.00,7.499995e+05,9.999990e+05
ReleaseYear,999999.0,1.998001e+03,1.926086e+01,1950.00,1984.00,2001.00,2.014000e+03,2.025000e+03
BudgetUSD,999999.0,9.802824e+06,2.249421e+07,100000.00,1190510.79,3265789.51,9.002791e+06,3.000000e+08
US_BoxOfficeUSD,999999.0,1.496163e+07,3.879403e+07,40025.47,1489805.19,4388875.59,1.287606e+07,1.018198e+09
Global_BoxOfficeUSD,999999.0,2.720625e+07,6.954294e+07,100000.00,2762369.99,8090223.36,2.355245e+07,1.499497e+09
Opening_Day_SalesUSD,999999.0,2.992745e+06,8.132438e+06,4050.47,279026.24,838722.12,2.510360e+06,2.957511e+08
One_Week_SalesUSD,999999.0,7.483442e+06,1.955337e+07,16507.42,738314.53,2179436.34,6.415143e+06,5.795551e+08
IMDbRating,999999.0,6.494788e+00,1.485606e+00,1.00,5.50,6.50,7.500000e+00,1.000000e+01
RottenTomatoesScore,999999.0,6.477643e+01,1.759247e+01,0.00,53.00,65.00,7.700000e+01,1.000000e+02
NumVotesIMDb,999999.0,9.137184e+03,2.492236e+04,100.00,1083.00,2983.00,8.192000e+03,1.000000e+06
NumVotesRT,999999.0,2.031880e+03,8.433381e+03,50.00,119.00,405.00,1.360000e+03,5.000000e+05

# 2.Univariate analysis

In [27]:
# release year histogram
if 'release_year' in df.columns:
    df['release_year'].dropna().astype(int).hist(bins=30)
    plt.title('Distribution of Release Years')
    plt.xlabel('Year')
    plt.ylabel('Count')
    plt.show()